.goalCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  margin: 0px;
  /* Center horizontally and add margin */
  border-radius: 15px;
  border: 1px dashed #cbcbc3;
  padding: 15px 20px;
  max-width: 200px;
  /* Set maximum width */
  min-width: 200px;
  min-height: 240px;
  max-height: 240px;
}


.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 150px;
  border-radius: 50%;
  background-color: #f6f7f2;
  margin-right: 10px;
  margin-left: 10px;
  min-width: 110px;
}


.goalDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 10px;
  max-width: 100%;
  height: 28px;

  .goalName {
    font-family: "Roboto", sans-serif;
    font-size: 16px; 
    font-weight: 700;
    color: #000000;
    margin-bottom: 10px;
    min-width: 100%;
    text-align: center;
  }
}


.completeTime {
  display: flex;
  min-width: 180px;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  .completedTimeText {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f7f2;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 14px;
    font-weight: 700;
  }
}