.goalCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  margin: 0px;
  border-radius: 15px;
  border: 1px dashed #cbcbc3;
  padding: 10px 20px;
  max-width: 120px;
  min-width: 120px;
  min-height: 140px;
  max-height: 140px;
}


.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 130px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 15px;
  min-width: 110px;
}


.goalDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 10px;
  max-width: 100%;
  height: 28px;

  .goalName {
    font-family: "Roboto", sans-serif;
    font-size: 16px; 
    font-weight: 700;
    color: #000000;
    margin-bottom: 10px;
    min-width: 100%;
    text-align: center;
  }
}

