.pageContainer {
    height: 100%;
    background-color: #f6f7f2;
}

.mainContent {
    display: flex; /* 使用弹性布局 */
    flex-direction: column; /* 垂直布局，让子元素从上到下排列 */
    align-items: center;
    justify-content: space-between; /* 在主轴上平均分配剩余空间，将 .footContent 推到底部 */
    min-height: 100vh; /* 至少占满一屏高度 */
    background-color: #f6f7f2;
}

.grid-container {
    display: grid;
    //grid-template-columns: 130px minmax(0, 1fr); // divide to 2 columns, left 200px, right 1fr
    height: 100%;
    background-color: #f6f7f2;
    

    >.grid-achievements {
        background-color: #f6f7f2;
        font-family: Comic Sans MS, cursive;
        display: grid;
        grid-template-rows: 110px minmax(0, 1fr);
        padding: 10px 50px;
        

        .bar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 10px;
            display: flex; /* 添加这个属性使内容垂直居中 */

            justify-content: center;
            align-items: center;
        }

        h1 {
            font-size: 56px;
            font-weight: lighter;
            margin: 0px;
            width: 300px;
            padding: 10px 30px;
            display: flex; /* 添加这个属性使内容垂直居中 */

            justify-content: center;
            align-items: center;
        }

        .achievement-container {
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            justify-content: center;
            align-items: center;
        }
    }

    
}


.button {
    color: black;
    text-decoration: none;
    font-size: 100px;
    font-weight: bolder;
    height: 100px;
}
.footContent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    padding: 10px;
    background-color: #f6f7f2; /* 添加背景色，与页面背景色一致 */
    width: 100%; /* 让 .footContent 占满宽度 */
}
