.customChart{
    font-family: Arial, Helvetica, sans-serif;
}
.chartContainer {
    background-color: #ffffff;
    // width: 1000px; 
    width: 82%;
    height: 82%;
    // min-height:500px;
    border-radius: 10px;
    border: 1px dashed  #cbcbc3;
    margin-bottom: 30px;
    padding: 20px 30px;

    .chartTitle{
      display: flex;
      align-items: baseline;
      justify-content: flex-start;
      h2{
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 20px;
      }
      p{
        font-size: 18px;
        color: #b5b5b5;

      }
    }

    .chartContent{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-bottom: 15px;
    }
  }

  .chartHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
  }

.histogram{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content: center;
}
.buttonContainer {
    width: 260px;
    height: 35px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eeeeef;
    border-radius: 6px;
    position: relative;
    margin-bottom: 5px;
  }
  
  .button {
    flex: 1;
    padding: 10px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    background-color: transparent;
    border: none;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .selected {
    position: relative;
  }
  
  .buttonHighlight {
    position: absolute;
    background-color: white;
    height: 85%;
    width: calc(33.33% - 10%); 
    left: 5%;
    top: 7.5%;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    transition: left 0.3s;
    padding: 2px;
  }
  
  .selected .buttonHighlight {
    background-color: transparent;
  }
  
  .verticalLine {
    position: absolute;
    background-color: #bebebf; /* 设置竖线颜色 */
    height: 60%;
    width: 1.5px; /* 设置竖线宽度 */
    left: 0;
  }
  