/* The Modal (background) */
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}


.page-container {
  position: relative;
  margin: 15% auto;
  min-height: 670px;
  max-height: 670px;
  min-width: 480px;
  max-width: 480px;
  width: 40%;
  height: 60%;

  padding: 30px 20px;
  background-color: #f6f7f2;
  border-radius: 10px;
  font-family: 'Arial', sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-bar {
  width: 100%;
  padding: 0px 20px;
  text-align: flex-start;
  font-size: 18px;
  margin-bottom: 25px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.top-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.date-display {
  width: 92%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  text-align: center;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: 30px;

  p {
    color: #a7b798;
    font-size: 16px;
  }

  .current-date {
    // background-color: #e7e7e5;
    // border-radius: 5px;
    // color: rgb(32, 32, 32);
    // padding: 3px 20px;
    font-size: 16px;
  }
}

.button-bar {
  margin: 40px 10px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.cancel-button,
.submit-button {
  margin: 0px 0px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.cancel-button {
  margin: 0px 10px;
  background-color: #cbcbc3;
  color: white;
}

.submit-button {
  background-color: #a7b798;
  color: white;
}


.cancel-button:hover {
  background-color: darken(#cbcbc3, 10%);
}

.submit-button:hover {
  background-color: darken(#a7b798, 10%);
}




.duration-selector {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .row {
    display: flex;
    justify-content: center;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .durationBox,
  .selected {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95px;
    height: 75px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s all ease;
    background-color: white;

    &:not(:last-child) {
      margin-right: 10px;
    }

    .duration-circle {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #96a589;
      color: white;
      font-size: 26px;
      margin-bottom: 5px;
    }

    &.selected {
      animation: blink 0.5s linear;
    }
  }

  @keyframes blink {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0.5;
    }

    100% {
      opacity: 1;
    }
  }
}


.time-accumulator {
  margin: 0px 20px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 8px;
  opacity: 0;
  transition: opacity 0.5s ease;

  &.visible {
    opacity: 1;
  }

  .time-display {
    font-size: 26px;
    color: #333;
    margin: 10px 0px;
  }

  .reset-button {
    background-color: #ee9687;
    color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #ff6666;
    }
  }
}

.react-datepicker__input-container input {
  border: none;
  background-color: #e7e7e5; 
  outline: none; 
}

.react-datepicker-wrapper {
  width: 100%; 
}

.react-datepicker {
  font-size: 1rem;
}
