.task-detail-page {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh; // Full viewport height
}

.container {
  width: 1000px;
  height: 100%; // 100% of the parent's height
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttonWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 10%; // Adjust as needed
}