/* The Modal (background) */
.task-detail-page {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.container {
  position: relative;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 40px;
  border: 1px solid #888;
  width: 38%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
  .top-div {
    width: 100%;
    height: 25%; // 25% of the viewport height
    display: flex;
    background-color: #ffffff;
    margin: 0 auto; // Center horizontally on the page
  
    .left {
      width: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .right {
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: center; // Move content to vertical center
      align-items: center; // Center content horizontally
  
      .textContainer {
        text-align: center; // Center text horizontally
        margin-bottom: 10px; // Reduce gap between text and button
  
        .title {
          font-size: 24px;
          color: #000000;
        }
  
        .subtitle {
          font-size: 14px;
          color: #999999;
        }
      }
  
      .button {
        background-color: #f2f5f0;
        border: none;
        display: flex;
        justify-content: center; // Center content horizontally inside button
        align-items: center; // Center content vertically inside button
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        width: 300px;
  
        .square {
          background-color: #b4c2a8;
          width: 20px;
          height: 20px;
          border-radius: 5px;
          display: flex;
          justify-content: center; // Center plus sign horizontally
          align-items: center; // Center plus sign vertically
          margin-right: 10px;
  
          .plus {
            color: #ffffff;
            font-size: 18px;
          }
        }
  
        .buttonText {
          color: #333;
          font-size: 16px;
          text-align: center; // Center text inside button
        }
      }
    }
  
    .image {
      max-width: 100%;
      height: auto;
    }
  }
}



.buttonWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 10%; // Adjust as needed
}


.time-day-record-div {
  width: 100%;
  height: 10%;
  background-color: #f6f7f2;
}

.chart-div {
  width: 100%;
  height: 60%; // Adjusting the height to leave 5% space between TimeDayRecordDiv and ChartDiv
  background-color: #f6f7f2;
  border-radius: 20px; // Setting rounded corners
  margin-top: 5%; // 5% space between TimeDayRecordDiv and ChartDiv
}

.edit-task-button {
  width: 30%;
  height: 85%;
  background-color: #f6f7f2;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  border-radius: 10px;

  .image {
    max-height: 70%;
    max-width: 30%;
    margin-right: 10px;
  }

  .text {
    font-size: 16px;
    color: #333;
  }
}


.delete-task-button {
  width: 30%;
  height: 85%;
  background-color: #f6f7f2;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  border-radius: 10px;

  .image {
    max-height: 70%;
    max-width: 30%;
    margin-right: 10px;
  }

  .text {
    font-size: 16px;
    color: #333;
  }
}

/* Input fields */
.container input[type="text"],
.container input[type="datetime-local"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


/* Submit Button */
.containerbutton {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.container button:hover {
    background-color: #45a049;
}

.error{
    color: red;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
}
