.achievement {
    background-color: #dcdcdc;
    margin: 60px 40px;
    border-radius: 20px;
    padding: 15px 30px;
    width: 280px;
    height: 250px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.4);
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
}

.title-container {
  display: flex;
  align-items: center;
  max-width: 225px;
  min-width: 225px;
}

.complete-button {
  flex-shrink: 0;
  margin-right: 0px !important; 
}

.achievement-title {
    flex: 1;
    margin-right: 10px; 
    white-space: nowrap;   // 不自动换行
    overflow: hidden;      // 超出部分隐藏
    text-overflow: ellipsis; // 超出部分用...代替

    p {
        font-size: 25px;
        margin: 0px;
        padding: 0px;
    }
}

.image-container {
    width: 100px;
    height: auto;
    margin-left: 60px;
    transition: filter 0.5s; /* 添加过渡效果以平滑变化 */
}

.image-container.grayscale {
    filter: grayscale(100%); /* 将图片转换为灰度 */
}

.achievement-description {
    p {
        font-size: 18px;
        margin-left: 50px;
        padding-top: 20px;
        padding-bottom: 20px;
        max-height: 135px !important;
        display: -webkit-box;
        -webkit-line-clamp: 5; /* 限制为3行 */
        -webkit-box-orient: vertical;
        overflow: hidden;
        max-width: 250px;
    }
}   

.achievement-date {
    p {
        font-size: 20px;
        margin-left: 10px;
        padding: 0px;
    }
}

// complete the task
.completed-task {
    text-decoration: line-through;
}

.complete-button {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 50%;
    color: white;
    font-size: 16px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    outline: none;
    margin-right: 10px;
}

.complete-button.completed {
    background-color:white;
    color: grey;
}

.completed-task {
    text-decoration: line-through;
}

/* card.scss */

/* ...（之前的样式）... */

/* Modal styles */
.Modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* 背景遮罩颜色和透明度 */
    z-index: 1000; /* 确保 Modal 在其他内容之上 */
  }
  
  .modal-content {
    background-color: #e26060; /* 背景颜色 */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    position: relative;
  }
  
  .modal-content p {
    font-size: 18px;
    margin: 0;
  }
  
  .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }
  
