.pageContainer {
  height: 100%;
  background-color: #f6f7f2;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: rgb(3, 95, 78);
  padding: 3px;

  div{
      padding: 5px 20px;
  }
}

.typeSelector{
height: 60px;
}

.goalList{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.goalCard {
  background-color: #e07777;
  margin: 60px 40px;
  border-radius: 20px;
  padding: 15px 30px;
  width: 280px;
  height: 250px;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-rows: 1fr 5fr 1fr;
}

.footContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 10px;
}